html {
	font-size: 18px;
}

h1 {
	font-family: 'Nothing You Could Do', cursive;
	font-weight: 400;
	font-size: 2rem;
}

h2, h3, h4 {
	font-family: 'Nothing You Could Do', cursive;
	color: gray;
}

p {
	font-family: Lato;
	font-weight: 300;
	font-size: 1rem;
}

h2, h3, h4 {
	font-weight: 300;
}

h2 {
	font-size: 1.75rem;
}

h3 {
	font-size: 1.5rem;
}

h4 {
	font-size: 1.25rem;
}