<section class="cupcakes-list-header">
  <div class="container">
    <div class="row list-header">
      <div class="col-md-6 cupcakes-list-image"></div>
      <div class="col-md-6 cupcakes-list-text"></div>
    </div>
  </div>
</section>
<section class="cupcakes-list">
  <div class="container">
    <div class="row">
      <div class="col-md-3 col-md-offset-1 cupcakes-categories cat-shadow">
        <h3>CATEGORIES</h3>
        <ul>
          <% @flavours.each do |flavour| %>
              <li><%= link_to flavour.name.humanize, cupcakes_path(flavour: flavour.name) %></li>
          <% end %>
        </ul>
      </div>
      <div class="col-md-8">
        <div class="row">
          <%= render @cupcakes %>
        </div>
      </div>
    </div>
  </div>
</section>