<div class="col-md-4">
  <div class="bestselling-item">
    <div class="item-image <%= cupcake.name.downcase %>cup"></div>
    <div class="item-description clearfix">
      <h4><%= cupcake.name %></h4>
      <a href="#"  class="item-button">DO KOSZYKA</a>
    </div>
  </div>
</div>