<nav id="main-nav" class="nav">
	<div class="nav-container container">
		<div class="logo">
			<a href="/">
				<div class="logo-image"></div>
			</a>
			<div class="logo-text">
				<a href="/">Cupcakes' World</a>
			</div>
		</div>
		<div class="nav-links-container">
			<ul class="nav-links clearfix">
				<li class="nav-link"><a href="/cupcakes">CUPCAKES</a></li>
				<li class="nav-link"><a href="#">ZAMÓW ONLINE</a></li>
				<li class="nav-link"><a href="#">KOSZYK</a></li>
			</ul>
		</div>
	</div>
</nav>