<nav id="main-nav" class="nav">
	<div class="nav-container container">
		<div class="logo">
			<a href="/">
				<div class="logo-image"></div>
			</a>
			<div class="logo-text">
				<a href="/">Cupcakes' World</a>
			</div>
		</div>
		<div class="nav-links-container">
			<ul class="nav-links clearfix">
				<li class="nav-link"><a href="/cupcakes">CUPCAKES</a></li>
				<% if user_signed_in? %>
					<li class="nav-link"><%= link_to 'LOG OUT', destroy_user_session_path, method: :delete %></li>
				<% else %>
					<li class="nav-link"><%= link_to 'SIGN UP', new_user_registration_path %></li>
					<li class="nav-link"><%= link_to 'LOG IN', new_user_session_path %></li>
				<% end %>
				<li class="nav-link basket-link">
					<a href="#">KOSZYK</a>
          <%= render 'layouts/basket' %>
        </li>
			</ul>
		</div>
	</div>
</nav>
